<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
</head>

<body>
    {{>navbar}}
    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Megna tempus sed amet aliquam veroeros</h1>
                        <p class="">It is a long established fact that a reader will be distracted by the content of a page when he is looking at the layout.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Megna tempus sed amet aliquam veroeros</h1>
                        <p class="">It is a long established fact that a reader will be distracted by the content of a page when he is looking at the layout.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Megna tempus sed amet aliquam veroeros</h1>
                        <p class="">It is a long established fact that a reader will be distracted by the content of a page when he is looking at the layout.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Team Member</h1>
                        <p>megna tempus sed amet</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                src="https://images.pexels.com/photos/15818869/pexels-photo-15818869/free-photo-of-person-riding-extremely-packed-bike.jpeg"
                                alt=""
                                />
                                <h1>Marima</h1>
                                <p>co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                src="https://images.pexels.com/photos/15818869/pexels-photo-15818869/free-photo-of-person-riding-extremely-packed-bike.jpeg"
                                alt=""
                                />
                                <h1>Marima</h1>
                                <p>co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                src="https://images.pexels.com/photos/15818869/pexels-photo-15818869/free-photo-of-person-riding-extremely-packed-bike.jpeg"
                                alt=""
                                />
                                <h1>Marima</h1>
                                <p>co-founder</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>
    <section id="recent-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-to-header text-center">
                        <h1>Nunc Dignism</h1>
                        <p>Megna tempus sed amet</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="recent-text">
                                    <img class="https://images.pexels.com/photos/13349447/pexels-photo-13349447.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
                                    alt''
                                    />
                                    <h1>Megna tempus sed</h1>
                                    <p>various versions have evolved over the years , sometimesbecause the purpose is (injected humour and the like)</p>
                                    <button class="btn btn-primary">More</button>
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="recent-text">
                                    <img class="https://images.pexels.com/photos/13349447/pexels-photo-13349447.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
                                    alt''
                                    />
                                    <h1>Megna tempus sed</h1>
                                    <p>various versions have evolved over the years , sometimesbecause the purpose is (injected humour and the like)</p>
                                    <button class="btn btn-primary">More</button>
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="recent-text">
                                    <img class="https://images.pexels.com/photos/13349447/pexels-photo-13349447.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
                                    alt''
                                    />
                                    <h1>Megna tempus sed</h1>
                                    <p>various versions have evolved over the years , sometimesbecause the purpose is (injected humour and the like)</p>
                                    <button class="btn btn-primary">More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>