h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
}
header {
    background: url('https://images.pexels.com/photos/5204686/pexels-photo-5204686.jpeg?auto=compress&cs=tinysrgb&w=600') center center/cover no-repeat;
    height: 40vh;
    display: flex;
    align-items: center;
    color: white;
}
.te {
    background: rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    padding: 20px;

}
/* register file */
        .register-heading {
            margin-top: 50px;
            text-align: center;
        }
        .register-form {
            margin-top: 20px;
            margin-bottom: 40px;
        }
        .form-group {
            margin-bottom: 20px;
        }
